.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 430px) {
  .header-content__title{
    font-size: 4.5rem;
  }

   .service__title{
    
    font-size: 1.8rem;
    
 }

 .service__caption{
    font-size: 1.8rem;

 }
}

@media (max-width: 417px) {
  .Destination__title{
    font-size: 2.3rem;
  }
}
@media (max-width: 403px) {
  .header-content__title{
    font-size: 3.5rem;
  }
   .service__title{
    font-size: 1.8rem;
 }

 .service__caption{
    font-size: 1.5rem;

 }
}





@media (max-width: 340px) {
  .header-content__title{
    font-size: 3rem;
  }
   .service__title{
    font-size: 1.6rem;
 }

 .service__caption{
    font-size: 1.2rem;

 }

  .Destination__title{
    font-size: 2rem;
  }
}
@media (max-width: 285px) {
  .header-content__title{
    font-size: 2.5rem;
  }
   .service__title{
   font-size: 1.4rem;
 }

 .service__caption{
    font-size: 1rem;

 }
}

@media (max-width: 255px) {
  .header-content__title{
    font-size: 2.3rem;
  }
   .service__title{
   font-size: 1rem;
 }

 .service__caption{
    font-size: 0.9rem;

 }
}


/* -----------******************----------------- */


@media (min-width: 576px) {
}

@media (min-width: 768px) {

  .nav__btn , .nav-menu {
    display: none;
  }

  

  .menu {
    display: flex;
  }
}

@media (min-width: 992px) {
    
  .header__links {
    display: block;
  }
  .header-content__caption{
    max-width: 50rem;
  }
}

@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
